body.theme-default {
    page-login {

    }

}


body.theme-default {
    page-login {
        ion-header{
            opacity: 0;
        }
    }
}

body.theme-dark {
    page-login {
        ion-header{
            opacity: 0;
        }

        ion-list{
            background:none;

            ion-item{
                background:none !important;
            }
        }

        .logo{
            text-align: center;

            img{
                max-width: 20%;
            }
        }
    }
}