<!--
  Generated template for the ForumTopicList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>{{forum.title}}</ion-title>

		<ion-buttons end>
			<button ion-button icon-only (click)="showTopicPost()">
				<ion-icon name='add-circle'></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content>

	<ion-list *ngIf="isLoading">
		<ion-item text-center>
			<ion-spinner></ion-spinner>
		</ion-item>
	</ion-list>

	<ion-list>
		<button ion-item *ngFor='let p of forum.topics' (click)='openTopic(p)'>
			<h2>{{p.topic}}</h2>
			<p>
				<ion-badge *ngIf="p.isTop">置顶</ion-badge>
				<ion-badge *ngIf="p.isLocked">锁定</ion-badge>
				<ion-badge *ngIf="p.isClassic" color="pink">精华</ion-badge>
				<ion-badge *ngIf="!p.isRead" color="green">未读</ion-badge>
			</p>
			<ion-note item-right text-right>
				<p>{{p.user}}</p>
				
				<ion-badge  color="gray">{{p.count}}</ion-badge>
			</ion-note>
		</button>

	</ion-list>



	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingText="正在加载..." threshold="20%">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<!--<ion-fab right bottom #fab>
		<button ion-fab color="primary">
			<ion-icon name="chatbubbles" (click)="postTopic()"></ion-icon>
		</button>
	</ion-fab>-->
</ion-content>