body.theme-dark{
    page-forum-topic-list {
        ion-list{
            .item.item-block{
                ion-label{
                    p{
                        margin-top:5px;
                        ion-badge{
                            font-size: 1.1rem;
                            padding: 3px 5px;
                        }
                    }
                }
            }
        }
    }

}


body.theme-default{
    page-forum-topic-list {
        ion-list{
            .item.item-block{
                ion-label{
                    p{
                        margin-top:5px;
                        ion-badge{
                            font-size: 1.1rem;
                            padding: 3px 5px;
                        }
                    }
                }
            }
        }
    }

}