page-home {

    .slide-zoom{
        height: 100%;
        overflow: auto;
        text-align: left;
    }

    ion-label{
        p{
            text-overflow: inherit;
            white-space: normal;
        }
    }

    .message-list{
        padding-bottom: 50px;
    }

    ion-avatar{
        p{
            font-size:3.5rem !important;
        text-align: center;
        }
    }

    ion-card{
        img{
            display: inline-block;
            width:auto;
            max-width: 100%;
        }
    }
}
