<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

		<ion-segment [(ngModel)]="segment" (ionChange)="updateSegment()">
			<ion-segment-button value="notice">
				公告
			</ion-segment-button>
			<ion-segment-button value="chat">
				群聊
			</ion-segment-button>
		</ion-segment>


	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<div [ngSwitch]="segment">
		<ion-list *ngSwitchCase="'notice'">
			<ion-card *ngFor="let notice of notices" class="card-notice">
				<ion-card-header>
					{{notice.title}}
				</ion-card-header>
				<ion-card-content>
					<span *ngFor='let item of notice.paragraphs'>
						{{item.text}}
						<img *ngIf='item.img' [attr.src]='item.img'/>
          				<a *ngIf='item.link' [attr.href]='item.link'>{{item.link}}</a>
						  <br *ngIf='item.br'>
					</span>
				</ion-card-content>
				<ion-row>
					<ion-col>
					</ion-col>
					<ion-col>
					</ion-col>
					<ion-col center text-center>
						<ion-note>
							{{notice.date}}
						</ion-note>
					</ion-col>
				</ion-row>
			</ion-card>

		</ion-list>


		<ion-list *ngSwitchCase="'chat'" class="message-list">
			<ion-item *ngFor="let message of messages" >
				
				<h2 [ngClass]='message.userClass'><b>{{message.name}}</b>
					<img *ngIf='message.hasStar' src='assets/smilies/star.gif'>
					<ion-note>{{message.date}}</ion-note>
				</h2>
				<p [innerHTML]="message.content"></p>

				<ion-note style="float:right;"><button ion-button outline small (click)='showMessagePrompt(message)'>回复</button></ion-note>

			</ion-item>


			
		</ion-list>
	</div>

	<ion-fab right bottom *ngIf="segment=='chat'">
		<button ion-fab color="primary" (click)="showMessagePrompt()"><ion-icon name="chatbubbles"></ion-icon></button>
	</ion-fab>




</ion-content>