page-home {

    .slide-zoom{
        height: 100%;
        overflow: auto;
        text-align: left;
    }

    ion-label{
        p{
            text-overflow: inherit;
            white-space: normal;
        }
    }

    .message-list{
        ion-item{
            h2{
                ion-note{
                    float:right;
                }
            }
            p{
                padding-left: 0px;
                padding-top: 5px;
            }
        
            .item-inner{
                border-bottom: none !important;
            }
            border-bottom: 2px solid #ECF1F5;
        }

        ion-item:last-child{
            border-bottom: none;
        }

        
    }

    ion-card.card-notice{
        margin:10px 0;
        width: 100%;
    }

    ion-avatar{
        p{
            font-size:3.5rem !important;
        text-align: center;
        }
    }

    ion-card{
        img{
            display: inline-block;
            width:auto;
            max-width: 100%;
        }
    }
}
