page-torrent-search {
    ion-col{
        ion-item.item.item-block{
            padding-left:4px;
            font-size: 1.3rem;
            height: 3rem;
            min-height: 3rem;

            ion-checkbox.checkbox-ios, ion-checkbox.checkbox-md{
                margin: 2px 5px 2px 2px;
            }

            div.item-inner{
                border: none;
            }

        }
    }
}


body.theme-dark{
    page-torrent-search {

        div.searchbar-search-icon{
            color:white;
        }
        input.searchbar-input{
            background-color: #6C738C;
            color:white;
        }
        .toolbar .searchbar-ios .searchbar-input{
            background-color: #6C738C;
            color:white;
        }
        ion-col{
            ion-item.item.item-block{

                background: #4E535F;
                padding-left:4px;
                font-size: 1.3rem;
                height: 3rem;
                min-height: 3rem;

                ion-checkbox.checkbox-ios, ion-checkbox.checkbox-md{
                    margin: 2px 5px 2px 2px;
                }

                div.item-inner{
                    border: none;
                }

            }
        }
    }
}
