// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.StaffLeader_Name{color: #8b0000 }

.SysOp_Name{color: #a0522d }

.Administrator_Name{color: #4b0082 }
.Moderator_Name{color: #6495ED }

.Warehouse_Name{color: #18C58C }

.Uploader_Name{color: #DC143C }

.Helper_Name{color: #82A604 }

.Coder_Name{color: #D08A73 }

.Forummod_Name{color: #AF014B }

.VIP_Name{color: #009F00 }
.NexusMaster_Name{color: #38ACEC }

.UltimateUser_Name{color: #006400 }

.ExtremeUser_Name{color: #FF8C00 }

.VeteranUser_Name{color: #483D8B }

.InsaneUser_Name{color: #8B008B }

.CrazyUser_Name{color: #00BFFF }

.EliteUser_Name{color: #008B8B }

.PowerUser_Name{color: #DAA520 }

.User_Name{color: #000000 }

.Peasant_Name{color: #708090 }



ion-list-header.list-header-md{
    margin-bottom: 0px;
}

ion-alert {
  z-index: 99998 !important;
}
ion-loading {
  z-index: 99999 !important;
}

ion-list.loading-list{
        background: none;
        margin: 20px;

        ion-item{
            background: none;
        }
    }