<!-- logged out menu -->
<ion-menu id="loggedOutMenu" [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content">

    <ion-list>
      <ion-list-header>
        Navigate
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Account
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Tutorial
      </ion-list-header>
      <button ion-item menuClose (click)="openTutorial()">
        <ion-icon item-left name="hammer"></ion-icon>
        Show Tutorial
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- logged in menu -->
<ion-menu id="loggedInMenu" [content]="content">

  <ion-header *ngIf='user'>
    <ion-toolbar>
      <ion-title>{{user.name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf='user' class="outer-content">

    <ion-list>
      <ion-list-header>
        页面
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>

      <!--<ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
        <ion-icon  [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </ion-item>-->
    </ion-list>

    <ion-list>
      <ion-list-header>
        测试功能
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of betaPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        帐号
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        关于
      </ion-list-header>
      <button ion-item menuClose (click)="openFaq()">
        <ion-icon item-left name="bulb"></ion-icon>
        常见问题
      </button>
      <button ion-item menuClose (click)="openAbout()">
        <ion-icon item-left name="information-circle"></ion-icon>
        关于
      </button>
    </ion-list>

  </ion-content>

</ion-menu>


<!-- main navigation -->


<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>