<!--
  Generated template for the TorrentDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>


    <ion-title>
      {{torrent.typeLabel}}
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="dismiss()" strong>返回</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-title class="multple-line">{{torrent.name}}</ion-title>

  <ion-list *ngIf='torrent.basicInfos && torrent.basicInfos.length'>
    <ion-list-header>
      基本信息
    </ion-list-header>
    <ion-item *ngFor='let basic of torrent.basicInfos'>
      {{basic.key}}
      <ion-note item-right>{{basic.value}}</ion-note>
    </ion-item>
  </ion-list>

  <ion-list *ngIf='torrent.descriptions && torrent.descriptions.length'>
    <ion-list-header>
      简介
    </ion-list-header>
    <ion-item class="torrent-descriptions">
      <!--<div >-->
      <div *ngFor='let item of torrent.descriptions'>
        {{item.text}}
        <img *ngIf='item.img' [attr.src]='item.img' />
        <a *ngIf='item.link' [attr.href]='item.link'>{{item.link}}</a>
      </div>
      <!--<ion-label *ngIf='item.img'><img [attr.src]='item.img'/></ion-label>-->
      <!--</div>-->
    </ion-item>
  </ion-list>

  <ion-list  *ngIf='!torrent.basicInfos || torrent.basicInfos.length==0'>
    <ion-item text-center>
      <button ion-button block (click)="loadDetail()" *ngIf="!isLoadingDetail">加载简介</button>
      <ion-spinner *ngIf="isLoadingDetail"></ion-spinner>
    </ion-item>
  </ion-list>

  <ion-list *ngIf='torrent.comments' class="comments-list">
    <ion-list-header>
      评论
    </ion-list-header>
    <ion-item *ngFor='let comment of torrent.comments'>
      <ion-avatar item-left *ngIf='showAvatar'>
        <img [attr.src]='comment.userAvatar'>
      </ion-avatar>
      <h2 [ngClass]='comment.userClass'><b>{{comment.userName}}</b><ion-note>{{comment.date}}</ion-note></h2>
      <p *ngFor='let p of comment.contents' [ngClass]='"comment-"+p.type+" quote-"+p.quote'>
        {{p.type==='text'||p.type==='legend'?p.content:''}}
        <img [src]='p.content' *ngIf="p.type==='smilies'" />
        </p>
      <ion-note style="float:right;"><button ion-button outline small (click)='postComment(comment)'>引用</button></ion-note>
    </ion-item>
    <ion-item *ngIf="torrent.comments.length==0">
      暂无评论
    </ion-item>
  </ion-list>

  <ion-list  *ngIf='!torrent.comments'>
    <ion-item text-center>
      <button ion-button block (click)="loadComments()" *ngIf="!isLoadingComment">加载评论({{torrent.commentsNumber}}条)</button>
      <ion-spinner *ngIf="isLoadingComment"></ion-spinner>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="danger"><ion-icon name="md-share"></ion-icon></button>
    <ion-fab-list side="top">
      <!--<a ion-fab color="pink" [attr.href]='torrent.fullUrl'>
        <ion-icon name="download"></ion-icon>
      </a>-->
      <button ion-fab color="pink" (click)='download("file")'>
        <ion-icon name="download"></ion-icon>
      </button>
      <button ion-fab color="pink" (click)='download("remote")'>
        <ion-icon name="desktop"></ion-icon>
      </button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab color="secondary" (click)='postComment()'><ion-icon name="chatbubbles"></ion-icon></button>
    </ion-fab-list>
    
  </ion-fab>

</ion-content>