page-torrent-detail {

    .torrent-descriptions{
        ion-label{
            margin: 2px 0;
            white-space: normal;
        }
    }

    .multple-line{
        .toolbar-title{
            white-space: normal;
            text-align: left;
        }
        
    }
}
