page-torrent-detail {

    .list-md + ion-list {
        ion-list-header{
            margin-top: 0;
        }
    }

    .torrent-descriptions{
        ion-label{
            margin: 2px 0;
            white-space: normal;
        }
    }

    .multple-line{
        .toolbar-title{
            white-space: normal;
            text-align: left;
        }
        
    }

    .comments-list{
        ion-item{
            align-items:baseline;

            p{
                white-space: normal;
                margin: 0;
                padding-bottom: 2px;
                color: color($colors, gray);
                padding-left: 5px;
                border-left: 1px solid color($colors, gray);
                padding-right: 5px;
                border-right: 1px solid color($colors, gray);
            }

            p.quote-0{
                color: color($colors, primary);
                padding-left: 0;
                border-left:none;
                padding-right: 0;
                border-right:none;
            }

            p.quote-2{
                padding-left: 15px;
                // border-left: 1px solid black;
            }
            p.quote-1:first-of-type{
                border-top: 1px solid color($colors, gray);
                padding-top: 5px;
            }

            p.quote-1+p.quote-0{
                border-top: 1px solid color($colors, gray);
                padding-top: 5px;
            }

            p.comment-legend{
                font-style: italic;
            }

            h2{
                ion-note{
                    float:right;
                }
            }
        }
    }
}
