body.theme-default{
    page-torrent-list {
        ion-card-header{
            text-overflow: inherit;
            white-space: normal;
        }

        ion-fab{
            transition: all 0.3s;
        }

        .show-scroll-button{
            right: 10px;
            opacity: 1;
        }
        .hide-scroll-button{
            right: -60px;
            opacity: 0;
        }
    }

}

body.theme-dark{
    page-torrent-list {
        ion-card-header{
            text-overflow: inherit;
            white-space: normal;
        }

        ion-fab{
            transition: all 0.3s;
        }

        .show-scroll-button{
            right: 10px;
            opacity: 1;
        }
        .hide-scroll-button{
            right: -60px;
            opacity: 0;
        }
    }

}