<!--
  Generated template for the TorrentList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-toolbar color="primary">
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>-->

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-searchbar (click)="showTorrentSearch($event)" [showCancelButton]="true" [cancelButtonText]="'取消'">
    </ion-searchbar>

    <!--<div class="searchbar searchbar-ios searchbar-show-cancel searchbar-left-aligned searchbar-active searchbar-has-focus" style="    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;">

      <div class="searchbar-input-container">

        <div class="searchbar-search-icon"></div>
        <input class="searchbar-input" (click)="onInput($event)" placeholder="Search" type="search" autocomplete="off" autocorrect="off"
          spellcheck="false">
      </div>
      <button class="searchbar-ios-cancel disable-hover button button-ios button-clear button-clear-ios" clear="" ion-button=""
        mode="ios" type="button" ng-reflect-mode="ios" ng-reflect-clear="" tabindex="1">
        <span class="button-inner">取消</span>
        <div class="button-effect"></div>
      </button>


    </div>-->

    <ion-buttons end>
      <button ion-button (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon> 全部
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content (ionScroll)='onScroll()'>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="isLoading" class="loading-list">
    <ion-item text-center>
      <ion-spinner></ion-spinner>
    </ion-item>
  </ion-list>


  <ion-card *ngFor="let torrent of torrents.list">
    <ion-card-header (click)="presentDetailPage(torrent)" [ngClass]="torrent.special">
      {{torrent.name}}
      <ion-note>
        {{torrent.date}}
      </ion-note>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        <ion-badge item-left color="gray">{{torrent.typeLabel}}</ion-badge>
        <ion-badge item-right color="gray">{{torrent.size}}</ion-badge>
        <ion-badge item-right *ngIf="torrent.isTop">置顶</ion-badge>
        <ion-badge item-right *ngIf="torrent.isHot">热门</ion-badge>
        <ion-badge style="float:right" color="orange" *ngIf="torrent.special">{{specialLabels[torrent.special]}}</ion-badge>
      </ion-label>
      {{torrent.subName}}

      <ion-row>
        <ion-col text-left no-padding>
          <ion-label>
            <ion-badge item-right color="gray">
              <ion-icon name="arrow-round-up"></ion-icon>
              {{torrent.seedersNumber}}
            </ion-badge>
            <ion-badge item-right color="gray">
              <ion-icon name="arrow-round-down"></ion-icon>
              {{torrent.downloadersNumber}}
            </ion-badge>
            <ion-badge item-right color="gray">
              <ion-icon name="checkmark"></ion-icon>
              {{torrent.downloadedsNumber}}
            </ion-badge>
          </ion-label>

        </ion-col>
        <ion-col center text-right>
          <button ion-button (click)="presentCommentPage(torrent)" color="primary" round small icon-left>
          <ion-icon name="chatboxes"></ion-icon>
          {{torrent.commentsNumber}}
        </button>

          <!--<ion-fab right bottom>
      <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
      <ion-fab-list side="left">
        <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>-->
        </ion-col>
      </ion-row>

    </ion-card-content>


  </ion-card>

  <ion-fab right bottom [ngClass]="showScrollToTop?'show-scroll-button':'hide-scroll-button'">
    <button ion-fab color="primary" (click)='scrollToTop()'><ion-icon name="arrow-up"></ion-icon></button>
  </ion-fab>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="正在加载..." threshold="20%">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>